<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quant.admin.dao.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quant.admin.entity.Orders">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="symbol" property="symbol" />
        <result column="robot_id" property="robotId" />
        <result column="account_id" property="accountId" />
        <result column="amount" property="amount" />
        <result column="price" property="price" />
        <result column="order_state" property="orderState" />
        <result column="order_type" property="orderType" />
        <result column="create_time" property="createTime" />
        <result column="finished_time" property="finishedTime" />
        <result column="field_fees" property="fieldFees" />
        <result column="field_amount" property="fieldAmount" />
        <result column="field_cash_amount" property="fieldCashAmount" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id AS orderId, symbol, robot_id AS robotId, account_id AS accountId, amount, price, order_state AS orderState, order_type AS orderType, create_time AS createTime, finished_time AS finishedTime, field_fees AS fieldFees, field_amount AS fieldAmount, field_cash_amount AS fieldCashAmount
    </sql>


</mapper>
