<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qklx.temp.dao.RobotMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qklx.temp.entity.Robot">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="account_id" property="accountId" />
        <result column="robot_name" property="robotName" />
        <result column="symbol" property="symbol" />
        <result column="strategy_id" property="strategyId" />
        <result column="client_address" property="clientAddress" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
        <result column="is_run" property="isRun" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, account_id AS accountId, robot_name AS robotName, symbol, strategy_id AS strategyId, client_address AS clientAddress, create_time AS createTime, is_delete AS isDelete, is_run AS isRun
    </sql>

</mapper>
